OTEL_SERVICE_NAME=fastapi
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=dev,service.namespace=tests
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_ENDPOINT=https://otlp-gateway-prod-eu-west-2.grafana.net/otlp
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic%20<rotated-grafana-otlp-auth>
